@charset "UTF-8";


/* ヘッダー部分 */
header {
  width: 100%;
  height: 93px;
  background: #fff;
  position: fixed;
}
.header-inner {
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.header-title {
  position: absolute;
  width: 180px;
  top: 60px;
  left: 0;
}
.header-title > img {
  width: 100%;
}
/* ヘッダー部分 */

/* メインビジュアル部分 */
.mainvisual {
  width: 1000px;
  height: auto;
  margin: 0 auto 60px;
}
.mainvisual > img {
  width: 100%;
  aspect-ratio: 16 / 9;
}
/* メインビジュアル部分 */

/* index部分 */
  .container {
    width: 800px;
    margin: 0 auto;
  }
  .con-index {
    width: 800px;
    background: #F5F5F5;
    padding: 60px 0;
    text-align: center;
    margin: 0 0 60px;
  }
  .coni-name {
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    margin: 0 0 30px;
  }
  .list-wrap {
    border: 1px solid #333333;
    margin: 0 60px;
    padding: 30px 0;
  }
  .box-list {
    list-style-position: inside;
    list-style: decimal;
    line-height: 1.6;
    display: table;
    margin: 0 auto;
  }
  .box-list-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 20px;
  }
  .box-list-item:last-child {
    margin: 0;
  }
/* index部分 */